.img-fluid {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border: 5px solid var(--black);
}

.child-details-card {
  border: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 0.5rem;

  .card-title {
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1.5rem;
  }

  .list-group-item {
    border: none;
    padding-left: 0;
  }

  .btn-primary {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white); // Ensure text is white

    &:hover {
      background-color: var(--black); // Keep black on hover
      border-color: var(--black); // Keep black on hover
    }
  }
}
