<app-page-banner [title]="'Our Vision & Mission'" [backgroundImage]="'assets/images/happy.jpg'"></app-page-banner>

<div class="container mt-5 pb-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Our Aim</h2>
                    <p class="card-text">The aim of Mtoto W’afrika is to bring hope and love to vulnerable children and to transform poor communities in Uganda.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Our Vision</h2>
                    <p class="card-text">Our vision is “Raise Resilient, Resourceful, and Community-based Godly Leaders for Africa’s Tomorrow Today.”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Mission Statement</h2>
                    <p class="card-text">Restoring Hope, Inspiring Talents, And Grooming an Exceptional African Child, While Offering Support Through Bringing Resources Closer to Community Research.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">MCCM Bible Verse</h2>
                    <p class="card-text">“Train up a Child in the way he should go; even when he is old he will not depart from it” Proverbs 22:6.</p>
                </div>
            </div>
        </div>
    </div>
</div>