<app-page-banner [title]="'Our Vision & Mission'" [backgroundImage]="'assets/images/career.png'"></app-page-banner>

<div class="content-section" style="background-image: url('assets/images/happy.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="my-4 display-4 fw-bold new-title-class" style="display: inline-block">Our Aim</h2>
        <p class="new-paragraph-class">The aim of Mtoto W’afrika is to bring hope and love to vulnerable children and to transform poor communities in Uganda.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div class="content-section" style="background-image: url('assets/images/career.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h2 class="my-4 display-4 fw-bold new-title-class" style="display: inline-block">Our Vision</h2>
        <p class="new-paragraph-class">Our vision is “Raise Resilient, Resourceful, and Community-based Godly Leaders for Africa’s Tomorrow Today.”</p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div class="content-section" style="background-image: url('assets/images/happy.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="my-4 display-4 fw-bold new-title-class" style="display: inline-block">Mission Statement</h2>
        <p class="new-paragraph-class">Restoring Hope, Inspiring Talents, And Grooming an Exceptional African Child, While Offering Support Through Bringing Resources Closer to Community Research.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div class="content-section" style="background-image: url('assets/images/career.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h2 class="my-4 display-4 fw-bold new-title-class" style="display: inline-block">MCCM Bible Verse</h2>
        <p class="new-paragraph-class">“Train up a Child in the way he should go; even when he is old he will not depart from it” Proverbs 22:6.</p>
      </div>
    </div>
  </div>
</div>