.card {
  border: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  padding: 1rem;

  h3 {
    font-weight: 700;
    color: var(--black);
  }

  .btn {
    margin-top: 1rem;
  }

  .table {
    td {
      border-top: none;
      padding: 0.5rem 0;
    }
  }
}

.donateth3 {
  a {
    color: var(--black);
    text-decoration: none;
  }
}
