.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--white) !important;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid var(--yellow);

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    }
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
    text-align: center;
}

.card-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.card-text {
    color: #666;
    font-style: italic;
}
