.card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--white) !important;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid var(--yellow);

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    }
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
    text-align: center;
}

.card-title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.card-text {
    color: #666;
    font-style: italic;
}

.director-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px; // A subtle radius for a modern look
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.team-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.btn-primary {
  background-color: var(--red);
  border-color: var(--red);
  padding: 0.75rem 2rem;
  border-radius: 50px; // A pill shape for the button
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
    transform: translateY(-3px);
  }
}
