<app-page-banner
  [title]="'Farming God\'s Way'"
  [backgroundImage]="'assets/images/career.png'"
></app-page-banner>

<div
  class="content-section"
  style="background-image: url('assets/images/happy.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Conservation Agriculture</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis
          mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Donec sed odio dui.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div
  class="content-section"
  style="background-image: url('assets/images/career.png')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h2>Community Training</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
          nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis
          mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Donec sed odio dui.
        </p>
      </div>
    </div>
  </div>
</div>
