<app-page-banner [title]="'About Us'" [backgroundImage]="'assets/images/happy.jpg'"></app-page-banner>

<div class="content-section" style="background-image: url('assets/images/career.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h2>Our Aim</h2>
        <p>To bring hope and love to vulnerable children and transform poor communities in Uganda.</p>
        <h2>Our Vision</h2>
        <p>"Raise Resilient, Resourceful, and Community-based Godly Leaders for Africa’s Tomorrow Today."</p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div class="content-section" style="background-image: url('assets/images/happy.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Mission Statement</h2>
        <p>Restoring Hope, Inspiring Talents, And Grooming an Exceptional African Child, While Offering Support Through Bringing Resources Closer to Community Research.</p>
        <h2>MCCM Bible Verse</h2>
        <p>“Train up a Child in the way he should go; even when he is old he will not depart from it” Proverbs 22:6.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-linker">
  <i class="bi bi-arrow-down-circle"></i>
</div>

<div class="content-section" style="background-image: url('assets/images/career.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <h2>Guiding Principles</h2>
        <p>Community-led and driven, accountability and transparency, clear communication, and support appreciation, with a strong focus on child protection.</p>
      </div>
    </div>
  </div>
</div>