.card {
    margin-bottom: 1.5rem;
}

.card-title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.btn-primary {
  background-color: var(--red);
  border-color: var(--red);
  padding: 0.75rem 2rem;

  &:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
  }
}