h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

.new-title-class {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--black);
    padding: 1rem;
    border-radius: 0.5rem;
}