<app-page-banner
  [title]="'Our History'"
  [backgroundImage]="'assets/images/bg1.jpg'"
></app-page-banner>

<div class="history-container history-page-content">
  <div class="timeline">
    <ul>
      <li *ngFor="let event of timelineEvents; let i = index">
        <div class="timeline-content">
          <div class="timeline-text">
            <time>{{ event.year }}</time>
            <h3>{{ event.title }}</h3>
            <p>{{ event.description }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
