<div class="container my-5">
  <h2 class="text-center mb-4">Sponsor a Child</h2>
  <div class="row" *ngIf="children$ | async as children">
    <div class="col-md-4 mb-4" *ngFor="let child of children">
      <div class="card child-card">
        <img [src]="child.picturePath" class="card-img-top" [alt]="child.name">
        <div class="card-body">
          <h5 class="card-title">{{ child.name }}</h5>
          <p class="card-text">
            <strong>Year of Birth:</strong> {{ child.yearOfBirth }}<br>
            <strong>Grade:</strong> {{ child.grade }}
          </p>
          <a routerLink="/child-details/{{child.id}}" class="btn btn-primary rounded-pill">Sponsor Me</a>
        </div>
      </div>
    </div>
  </div>
</div>