<div class="container my-5">
  <h2 class="text-center mb-4">Sponsor a Child</h2>
  <div class="row" *ngIf="children$ | async as children">
    <div class="col-md-4 mb-4" *ngFor="let child of children">
      <a
        routerLink="/child-details/{{ child.id }}"
        class="card child-card text-decoration-none text-dark"
      >
        <img
          [src]="child.picturePath"
          class="card-img-top"
          [alt]="child.name"
        />
        <div class="card-body">
          <h5 class="card-title">{{ child.name }}</h5>
          <p class="card-text">
            <strong>Year of Birth:</strong> {{ child.yearOfBirth }}<br />
            <strong>Grade:</strong> {{ child.grade }}
          </p>
          <span class="btn btn-light-green-dark rounded-pill px-3 py-2"
            ><i class="bi bi-heart-fill"></i> Sponsor Me</span
          >
        </div>
      </a>
    </div>
  </div>
</div>
